<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- 상품 목록 수 반환 -->
	<entry key="selectListCount">
		SELECT	COUNT(*) AS COUNT
		  FROM	BOARD
		 WHERE	BOARD_CATEGORY = ?
		   AND	BOARD_TYPE LIKE ?
		   AND	STATUS LIKE ?
	</entry>
	
	<!-- 상품 목록 반환 -->
	<entry key="selectList">
		SELECT	*
		  FROM	(SELECT	ROWNUM RNUM, A.*
		  		   FROM	(SELECT	BOARD_NO,
				  				BOARD_TITLE,
				  				BOARD_TYPE,
				  				BOARD_CATEGORY,
				  				PROD_IMG,
				  				PRICE,
				  				BID_PRICE,
				  				USER_ID,
				  				REGISTER_DATE,
				  				END_DATE
				  		   FROM	BOARD B
				  		   JOIN	MEMBER ON (SELLER_NO = USER_NO)
				  		  WHERE	B.STATUS LIKE ?
				  		    AND	BOARD_CATEGORY = ?
				  		    AND BOARD_TYPE LIKE ?
				  		  ORDER	BY BOARD_NO DESC) A)
		  WHERE	RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 상품 정보 반환 -->
	<entry key="selectBoard">
		SELECT	*
		  FROM	BOARD
		  JOIN	MEMBER ON (SELLER_NO = USER_NO)
		 WHERE	BOARD_NO = ?
	</entry>
</properties>