* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.confirmation-box {
    width: 400px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}

.confirmation-box p {
    font-size: 20px;
    margin-bottom: 20px;
}

.confirm-btn {
    padding: 10px 30px;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 5px;
}

.confirm-btn:hover {
    background-color: #f0f0f0;
}
