* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}


h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

form.product-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.image-upload {
    text-align: center;
    margin-bottom: 20px;
}

.image-upload img {
    max-width: 100%;
    height: auto;
}

.product-details label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.product-details input, 
.product-details select, 
.product-details textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.time-select {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 5px;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

small {
    display: block;
    margin-bottom: 20px;
    font-size: 12px;
    color: gray;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* 반투명한 검정 배경 */
    display: none; /* 기본적으로 숨김 */
    z-index: 999; /* 팝업보다 뒤에 있도록 설정 */
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    z-index: 1000; /* 팝업을 화면 위로 */
    display: none; /* 기본적으로 숨김 */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.popup-btn {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
