@charset "UTF-8";

/* memberEnrollForm css */
#enroll-main {
	width: 100%;
	min-width: 900px;
	max-width: 1920px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
}

#enroll-section {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#enroll-form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#enroll-form > button {
	width: 50%;
	height: 3vw;
	background-color: #000000;
	border: 0.1vw solid #000000;
	border-radius: 0.3vw;
	color: #FFFFFF;
}

.enroll-logo {
	width: 50%;
	height: 3vw;
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%;
}

.enroll-logo > img {
	height: 80%;
}

.enroll-form-div {
	width: 50%;
	margin-bottom: 2%;
}

.enroll-form-div > h3 {
	margin: 0;
}

.enroll-form-div input, .enroll-form-div select {
	width: 100%;
	min-height: 2.5vw;
	display: block;
	padding: 0 1%;
	margin: 1% 0;
	background-color: rgb(240, 240, 240);
	border: 0.1vw solid gray;
	border-radius: 0.3vw;
	font-size: 1vw;
}

.enroll-form-div > button {
	width: 20%;
	min-height: 1.2vw;
	border: 0.1vw solid #000000;
	border-radius: 0.3vw;
	background-color: #000000;
	font-size: 0.9vw;
	color: #FFFFFF;
}

.enroll-form-div .check_text{
	margin-left: 1%;
	font-size: 0.9vw;
	color: red;
}

.enroll-form-div .hidden {
   display: none;
}

.enroll-form-div .sub {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.enroll-form-div .sub > * {
	margin-right: 1%;
}

.enroll-form-div .sub > p {
	height: 100%;
	margin: 0;
	margin-right: 1%;
}

.enroll-form-div .sub > p {
	text-align: center;
}

.enroll-form-div .sub > *:last-child {
	margin-right: 0;
}
