@charset "UTF-8";

/* memberLogin css */
#login-main {
	width: 100%;
	height: calc(100% - 6vw);
	display: flex;
	justify-content: center;
	align-items: center;
}

#login-section {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#login-section > article {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login-section > article > h1 {
	margin-bottom: 3%;
	text-align: center;
	font-size: 3vw;
}

#login-article-member {
	height: 60%;
}

#login-article-member > form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login-article-member > form > input[type="text"], #login-article-member > form > input[type="password"] {
	width: 50%;
	min-height: 3vw;
	display: block;
	padding: 0 1%;
	margin-bottom: 1%;
	background-color: rgb(240, 240, 240);
	border: 0.1vw solid rgb(240, 240, 240);
	border-radius: 0.3vw;
	font-size: 1.2vw;
}

#login-article-member > form > label {
	width: 50%;
	min-height: 1vw;
	float: left;
	margin: 1% 0;
	line-height: 1vw;
}

#login-article-member > form > button {
	width: 50%;
	height: 3vw;
	margin-top: 1%;
	background-color: #000000;
	border: 0.1vw solid #000000;
	border-radius: 0.3vw;
	color: #FFFFFF;
}

#login-article-member > div {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
	margin-top: 1%;
}

#login-article-member > div a {
	text-align: center;
	color: gray;
}

#login-article-sns {
	height: 20%;
	margin-top: 5%;
}

#login-article-sns > div {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#login-article-sns > div > button {
	width: 3vw;
	height: 3vw;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

#login-article-sns > div > button > img {
	width: 100%;
}


/* memberEnrollForm css */
#enroll-main {
	width: 100%;
	min-width: 900px;
	max-width: 1920px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#enroll-section {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#enroll-form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#enroll-form > button {
	width: 50%;
	height: 3vw;
	background-color: #000000;
	border: 0.1vw solid #000000;
	border-radius: 0.3vw;
	color: #FFFFFF;
}

.enroll-logo {
	width: 50%;
	height: 3vw;
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%;
}

.enroll-logo > img {
	height: 80%;
}

.enroll-form-div {
	width: 50%;
	margin-bottom: 2%;
}

.enroll-form-div > h3 {
	margin: 0;
}

.enroll-form-div input, .enroll-form-div select {
	width: 100%;
	min-height: 2vw;
	display: block;
	padding: 0 1%;
	margin: 1% 0;
	background-color: rgb(240, 240, 240);
	border: 0.1vw solid gray;
	border-radius: 0.3vw;
	font-size: 1vw;
}

.enroll-form-div .check_text{
	margin-left: 1%;
	font-size: 0.9vw;
	color: red;
}

.enroll-form-div .hidden {
   display: none;
}

.enroll-form-div .sub {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.enroll-form-div .sub > * {
	margin-right: 1%;
}

.enroll-form-div .sub button {
	width: 20%;
	min-height: 2vw;
	border: 0.1vw solid #000000;
	border-radius: 0.3vw;
	background-color: #000000;
	color: #FFFFFF;
}

.enroll-form-div .sub > p {
	height: 100%;
	margin: 0;
	margin-right: 1%;
}

.enroll-form-div .sub > p {
	text-align: center;
}

.enroll-form-div .sub > *:last-child {
	margin-right: 0;
}


/* cartList css */
#cart-main {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 3% 10%;
}

#cart-section-list {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#cart-section-list .allCheckBox {
	width: 100%;
	height: 5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3%;
	border-bottom: 0.1vw solid #000000;
}

#cart-section-list .allCheckBox > div {
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
}

.cart-aside-label {
	display: flex;
	align-items: center;
}

.cart-aside-label > input[type="checkbox"] {
	display: none;
}

.cart-aside-label > span {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 1.1vw;
}

.cart-aside-label > span.span-box {
	width: 1.2vw;
	height: 1vw;
	position: relative;
	margin-right: 5%;
	background-color: rgba(0, 0, 0, 0);
	border: 0.1vw solid #000000;
	border-radius: 0.1vw;
	transition: background-color 0.1s, border 0.1s;
}

.cart-aside-label input:checked + .span-box {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

.cart-aside-label input:checked + .span-box::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	background: url('../images/btn_checked.png') no-repeat center center;
	background-size: contain;
	transform: translate(-50%, -50%);
}

#cart-section-list .allCheckBox input[type="button"] {
	height: 2vw;
	display: inline-block;
	margin-right: 3%;
	background-color: #000000;
	border: 0.1vw solid #000000;
	border-radius: 0.15vw;
	cursor: pointer;
	text-align: center;
	font-size: 1vw;
	color: #FFFFFF;
}

#cart-article-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3% 1%;
}

#cart-article-list > .cart-card {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5%;
	padding: 1% 2%;
	margin-bottom: 3%;
	border: 0.1vw solid #000000;
	border-radius: 0.5vw;
}

.cart-card-label > input[type="checkbox"] {
	display: none;
}

.cart-card-label > span.span-box {
	width: 1vw;
	height: 1vw;
	display: inline-block;
	position: relative;
	margin-right: 5%;
	background-color: rgba(0, 0, 0, 0);
	border: 0.1vw solid #000000;
	border-radius: 0.1vw;
	transition: background-color 0.1s, border 0.1s;
}

.cart-card-label input:checked + .span-box {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

.cart-card-label input:checked + .span-box::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	background: url('../images/btn_checked.png') no-repeat center center;
	background-size: contain;
	transform: translate(-50%, -50%);
}

.cart-card > img {
	width: 5vw;
	height: 5vw;
	object-fit: cover
}

.cart-card > ul {
	width: 40%;
	height: 5vw;
}

.cart-card > ul h2 {
	margin: 1% 0;
	font-size: 1.5vw;
}

.cart-card > .span-stock {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.span-stock > input {
	width: 50%;
	height: 2vw;
	margin: 0 3%;
	border: 0.1vw solid #000000;
	border-radius: 0.1vw;
	text-align: center;
}

.span-stock > button {
	width: 1.2vw;
	height: 1.2vw;
	background-color: #000000;
	border: 0.1vw solid #000000;
	border-radius: 1vw;
	vertical-align: middle;
	text-align: center;
	color: #FFFFFF;
}

.span-stock > button:hover {
	background-color: #1F3C65;
}

#cart-section-total {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3% 1%;
}

#cart-section-total > #cart-aside {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#cart-aside > #cart-aside-table {
	width: 100%;
	background-color: #FFFFFF;
	border: 0.2vw solid #000000;
	border-radius: 1vw;
	border-spacing: 0;
	overflow: hidden;
}

#cart-aside-table th {
	text-align: left;
	padding: 3%;
}

#cart-aside-table td {
	text-align: right;
	padding: 3%;
}

#cart-aside-table > thead th {
	border-bottom: 0.1vw dashed #000000;
	text-align: center;
}

#cart-aside-table > tfoot {
	background-color: #D2D8E0;
}

#cart-aside-table > tfoot th, #cart-aside-table > tfoot td {
	font-size: 1.5vw;
}

#cart-aside > button {
	width: 100%;
	height: 3vw;
	margin: 3% 0;
	background-color: #000000;
	border: 0.1vw solid #000000;
	border-radius: 1vw;
	color: #FFFFFF;
}

/* myPage css */
