body {
    font-family: Arial, sans-serif;
}
.popup-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: none;
}
.popup-product-info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
.popup-product-info p {
    font-size: 18px;
    margin: 5px 0;
}
h2 {
    color: rgb(61, 151, 199);
}

.popup-btn {
    display: block;
    width: 80%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 20px auto;
    text-align: center;
}