<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- 로그인 유저 정보 검색 -->
	<entry key="loginMember">
		SELECT	USER_NO,
				USER_ID,
				USER_PWD,
				USER_NAME,
				GENDER,
				BIRTHDAY,
				EMAIL,
				PHONE,
				ENROLL_DATE,
				MODIFY_DATE,
				STATUS
		  FROM	MEMBER
		 WHERE	USER_ID = ?
		   AND	USER_PWD = ?
		   AND	STATUS = 'Y'
	</entry>
	
	<!-- 새 회원 등록 -->
	<entry key="insertMember">
		INSERT INTO MEMBER
		(
			USER_NO,
			USER_ID,
			USER_PWD,
			USER_NAME,
			GENDER,
			BIRTHDAY,
			EMAIL,
			PHONE
		)
		VALUES
		(
			SEQ_UNO.NEXTVAL,
			?,
			?,
			?,
			?,
			?,
			?,
			?
		)
	</entry>
	
	<!-- 장바구니 목록 불러오기 -->
	<entry key="selectCartList">
		SELECT	C.*, M.USER_ID, B.BOARD_TITLE, B.PROD_IMG, B.PRICE, B.STATUS AS BOARD_STATUS
		  FROM	CART C
		  JOIN	MEMBER M ON (C.USER_NO = M.USER_NO)
		  JOIN	BOARD B ON (C.BOARD_NO = B.BOARD_NO)
		 WHERE	USER_ID = ?
		   AND	C.STATUS = 'Y'
		 ORDER	BY PUT_DATE DESC
	</entry>
	
	<!-- 장바구니에 상품 추가 -->
	<entry key="insertCart">
		INSERT INTO CART
		(
			CART_NO,
			USER_NO,
			BOARD_NO,
			STOCK,
			PUT_DATE,
			STATUS
		)
		VALUES
		(
			SEQ_CNO.NEXTVAL,
			?,
			?,
			?,
			SYSDATE,
			'Y'
		)
	</entry>
	
	<!-- 장바구니에서 판매 종료 상품 전체 삭제(status -> N로 변경) -->
	<entry key="deleteSoldOut">
		UPDATE	CART C
		   SET	C.STATUS = 'N'
		 WHERE	USER_NO IN (SELECT	M.USER_NO
		 					  FROM	MEMBER M
		 					 WHERE	M.USER_ID = ?)
		   AND	C.BOARD_NO IN (SELECT	B.BOARD_NO
		   						 FROM	BOARD B
		   						WHERE	B.STATUS = 'N')
	</entry>
</properties>