<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>BidSync</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- com.ct.bidsync.member -->
  <servlet>
    <description>LoginController</description>
    <display-name>login.me</display-name>
    <servlet-name>login.me</servlet-name>
    <servlet-class>com.ct.bidsync.member.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login.me</servlet-name>
    <url-pattern>/login.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>LogoutController</description>
    <display-name>logout.me</display-name>
    <servlet-name>logout.me</servlet-name>
    <servlet-class>com.ct.bidsync.member.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout.me</servlet-name>
    <url-pattern>/logout.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>MemberInsertController</description>
    <display-name>insert.me</display-name>
    <servlet-name>insert.me</servlet-name>
    <servlet-class>com.ct.bidsync.member.controller.MemberInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert.me</servlet-name>
    <url-pattern>/insert.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>MemberUpdateController</description>
    <display-name>update.me</display-name>
    <servlet-name>update.me</servlet-name>
    <servlet-class>com.ct.bidsync.member.controller.MemberUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update.me</servlet-name>
    <url-pattern>/update.me</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>MemberUrlController</description>
    <display-name>url.me</display-name>
    <servlet-name>url.me</servlet-name>
    <servlet-class>com.ct.bidsync.member.controller.MemberUrlController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>url.me</servlet-name>
    <url-pattern>/url.me</url-pattern>
  </servlet-mapping>
  
  <!-- com.ct.bidsync.board -->
  
  <!-- com.ct.bidsync.common.filter -->
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.ct.bidsync.common.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/logout.me</url-pattern>
  </filter-mapping>
</web-app>